article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.container{padding-left:20px;padding-right:20px;}
.row{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}
.last{margin-right:0px;}
html,button,input,select,textarea,label,form{color:#222222;}
button,input,select,textarea,label,form{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
html,body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{color:#222222;font-weight:bold;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
a{color:#0b7dba;text-decoration:none!important;}a:hover,a:active{color:#085d8a;}
a:visited{color:#38b2f3;}
body{font-size:1em;line-height:1.618033988749895em;}
h1{font-size:1.6666666666666667em;line-height:0.970820393249937em;margin-top:0;margin-bottom:0.970820393249937em;}
h2{font-size:1.5em;line-height:1.0786893258332633em;margin-top:0;margin-bottom:1.0786893258332633em;}
h3{font-size:1.3333333333333333em;line-height:1.2135254915624212em;margin-top:0;margin-bottom:1.2135254915624212em;}
h4{font-size:1.1666666666666667em;line-height:1.3868862760713385em;margin-top:0;margin-bottom:1.3868862760713385em;}
blockquote,h5,h6,iframe,label,p,pre,address,td,th,ul,ol,dl,dd,hr,table{font-size:1em;line-height:1.618033988749895em;margin-top:0;margin-bottom:1.618033988749895em;}
.small{font-size:0.8333333333333334em;line-height:1.941640786499874em;margin-top:0;margin-bottom:1.941640786499874em;}
::-moz-selection{background:#edd900;text-shadow:none;}
::selection{background:#edd900;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
img{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
#chart{width:960px;height:500px;margin:0 auto;background:gainsboro;position:relative;margin-bottom:30px;}#chart .axis path,#chart .axis line{fill:none;stroke:black;shape-rendering:crispEdges;}
#chart #xaxis{position:absolute;bottom:-30px;left:0;}
#chart #yaxis{position:absolute;left:-40px;top:0;}
#chart .tweet{position:absolute;width:1px;height:1px;}
#chart .popup{display:none;}
#controls{display:block;width:960px;margin:0 auto 50px;}#controls #time_range{display:block;width:960px;margin:0 auto;}#controls #time_range .slider{width:100%;}
#controls #time_range.noUiSlider-container .slider{display:none;}
#controls #time_range #begin_text{position:absolute;left:0;}
#controls #time_range #end_text{position:absolute;right:0;}
#double-slider{width:100%;margin-left:0px;border:1px solid #CCC;height:8px;background:#EEE;-webkit-touch-callout:none;}
.noUi-midBar{height:100%;z-index:0;background:blue;-webkit-touch-callout:none;}
.noUi-handle>div{position:absolute;width:16px;height:16px;top:-5px;left:-8px;z-index:5;border:1px solid #CCC;background:#EEE;border-radius:8px;}
.noUi-handle>div:hover,.noUi-handle>div.noUi-activeHandle{background:#ACE;border-color:#369;}
.disabled>.noUi-midBar{background:#999;}
.disabled .noUi-handle>div{border-color:#CCC;background:#CCC;}
#filter_years .slider .after,#filter_years .slider .before{display:block;margin-top:16px;font-size:smaller;}
#filter_years .slider .after{margin-right:3.8%;float:left;min-height:1px;width:48.1%;}
#filter_years .slider .before{margin-right:3.8%;float:left;min-height:1px;width:48.1%;margin-right:0px;text-align:right;}
#born,#died{height:75px;width:100%;margin-bottom:10px;}
@media (-webkit-min-device-pixel-ratio:1.2),-moz-touch-enabled,(max-device-width:1024px){.noUi-handle>div{height:32px;width:32px;top:-13px;left:-16px;}}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:100%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
